.list0 {
  background-position-x: 0;
  background-position-y: 0;
}
.list1 {
  background-position-x: -100px;
  background-position-y: 0px;
}
.list2 {
  background-position-x: -200px;
  background-position-y: 0;
}
.list3 {
  background-position-x: -300px;
  background-position-y: 0;
}
.list4 {
  background-position-x: -400px;
  background-position-y: 0;
}
.list5 {
  background-position-x: -500px;
  background-position-y: 0;
}
.list6 {
  background-position-x: 0;
  background-position-y: -100px;
}
.list7 {
  background-position-x: -100px;
  background-position-y: -100px;
}
.list8 {
  background-position-x: -200px;
  background-position-y: -100px;
}
.list9 {
  background-position-x: -300px;
  background-position-y: -100px;
}
.list10 {
  background-position-x: -400px;
  background-position-y: -100px;
}
.list11 {
  background-position-x: -500px;
  background-position-y: -100px;
}
.list12 {
  background-position-x: 0;
  background-position-y: -200px;
}
.list13 {
  background-position-x: -100px;
  background-position-y: -200px;
}
.list14 {
  background-position-x: -200px;
  background-position-y: -200px;
}
.list15 {
  background-position-x: -300px;
  background-position-y: -200px;
}
.list16 {
  background-position-x: -400px;
  background-position-y: -200px;
}
.list17 {
  background-position-x: -500px;
  background-position-y: -200px;
}
.list18 {
  background-position-x: 0;
  background-position-y: -300px;
}
.list19 {
  background-position-x: -100px;
  background-position-y: -300px;
}
.list20 {
  background-position-x: -200px;
  background-position-y: -300px;
}
.list21 {
  background-position-x: -300px;
  background-position-y: -300px;
}
.list22 {
  background-position-x: -400px;
  background-position-y: -300px;
}
.list23 {
  background-position-x: -500px;
  background-position-y: -300px;
}
.list24 {
  background-position-x: 0;
  background-position-y: -400px;
}
.list25 {
  background-position-x: -100px;
  background-position-y: -400px;
}
.list26 {
  background-position-x: -200px;
  background-position-y: -400px;
}
.list27 {
  background-position-x: -300px;
  background-position-y: -400px;
}
.list28 {
  background-position-x: -400px;
  background-position-y: -400px;
}
.list29 {
  background-position-x: -500px;
  background-position-y: -400px;
}
.list30 {
  background-position-x: 0;
  background-position-y: -500px;
}
.list31 {
  background-position-x: -100px;
  background-position-y: -500px;
}
.list32 {
  background-position-x: -200px;
  background-position-y: -500px;
}
.list33 {
  background-position-x: -300px;
  background-position-y: -500px;
}
.list34 {
  background-position-x: -400px;
  background-position-y: -500px;
}
.list35 {
  background-position-x: -500px;
  background-position-y: -500px;
}
